html {
    min-height: 100%;
    overflow-x: hidden;
}

body {
    background: lightgray;
    color: #000;
    text-align: center;
    min-height: 100%;
    overflow-x: hidden;
}

.logo-link {
    display: inline-block;
    margin: 10px auto 15px;
    color: #000;
    text-decoration: none;
    position: relative;
    z-index: 2;
    &__img,
    &__text {
        display: inline-block;
        vertical-align: middle;
    }
    &__img {
        margin-right: 6px;
    }
}

.rfcx-player {
    &__menu-list {
        padding: 5px 0;
        margin: 0;
        list-style: none;
        font-size: 0;
        &.loading {
            position: relative;
            z-index: 1;
            &:before {
                display: block;
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                width: 100%;
                height: 100%;
                background: rgba(34, 34, 34, 0.6);
            }
        }
        .dropup {
            display: inline-block;
            vertical-align: middle;
            width: 23.5%;
            margin: 0 0.5%;
            font-size: 14px;
            color: #d3d3d3;
            text-align: center;
            background: transparent;
            border: 1px solid #d3d3d3;
            border-radius: 4px;
            outline: none;
            position: relative;
            .box-sizing(border-box);
            .btn {
                display: block;
                background: transparent;
                border: none;
                border-radius: 0;
                outline: none;
                color: #d3d3d3;
                width: 100%;
                max-width: 100%;
                padding: 7px 2px;
                &.active {
                    background: #119911;
                    color: #fff;
                }
                &.stream {
                    .caret {
                        display: none;
                    }
                }
                &.playlist {
                    .caret {
                        display: none;
                    }
                }
                &[disabled="disabled"] {
                    opacity: 0.5;
                }
                .caret {
                    position: absolute;
                    top: 50%;
                    right: 3px;
                    .translate(0, -50%);
                }
            }
            li {
                display: block;
                margin: 6px auto;
            }
            a {
                text-decoration: none;
                outline: none;
            }
            .dropdown-menu {
                min-width: 0;
                width: 100%;
                background: #d3d3d3;
            }
            @media @mobile {
                width: 46%;
                margin: 0 1% 5px;
            }
        }
        .dropdown-menu {
            > li {
                > a {
                    color: #222;
                    padding: 3px 12px;
                    &:hover,
                    &:focus {
                        text-decoration: underline;
                        background: #d3d3d3;
                        color: #222;
                    }
                }
            }
        }
    }
}

.rfcx-iframe {
    width: 95%;
    max-width: 600px;
    margin: 30px auto;
    .box-shadow(0px 0px 100px -15px rgba(34,34,34,1));
    iframe {
        display: block;
        width: 100%;
        min-height: 400px;
    }
}

.rfcx-bugs {
    position: fixed;
    z-index: 10000;
    bottom: 0;
    right: 50px;
    width: 200px;
    background: rgba(0,0,0,0.7);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 14px;
    color: rgba(255,255,255,0.8);
    .box-shadow(0px 0px 15px 0px rgba(0,0,0,0.5));
    .box-sizing(border-box);
    @media @desktopAndTablet {
        .animation(bounce 1.2s ease-out);
    }
    &__text {
        font-size: 14px;
        line-height: 1.4;
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }
    &__link {
        border: none;
        outline: none;
        text-decoration: underline;
        color: rgba(255,255,255,0.8);
        &:hover, &:active, &:focus {
            outline: none;
        }
    }
    @media @mobile {
        position: static;
        width: 95%;
        max-width: 600px;
        margin: 20px auto 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

@media @tablet{
    #tabletDeviceContainer {
        display: none;
    }
}

@media @mobile {
    #phoneDeviceContainer {
        display: none;
    }
}